# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
env/
.venv/
.env/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# HTML / Static Build
static/__pycache__/
*.tmp
